.logo {
    width: 2.5rem;
    height: 2.5rem;

    img {
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}

.header {
    padding: 1.25rem;
    border: 1px solid var(--primary);
    border-radius: 1.25rem;
}
