.appWrapper {
    height: 100vh;
}

.appContainer {
    width: 90%;
    max-width: 1380px;
    display: grid;
    grid-template-rows: 5.125rem calc(100vh - 12.375rem) 4.75rem;
    gap: 0.625rem;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;

    img {
        object-fit: cover;
        object-position: center;
        height: 100%;
    }
}
