$sizes: (
    'lg': 1.5rem,
    'md': 1.125rem,
    'sm': 0.75rem,
);

.icon {
    @each $key, $value in $sizes {
        &--#{$key} {
            width: #{$value};
            height: #{$value};
        }
    }
}
