.m {
    @each $dirKey, $dirValue in $directions {
        &#{$dirKey} {
            @each $step in $steps {
                &-#{$step} {
                    margin-#{$dirValue}: #{$step * $stepValue + 'rem'};
                }
            }
        }
    }

    &x {
        @each $step in $steps {
            &-#{$step} {
                margin-left: #{$step * $stepValue + 'rem'};
                margin-right: #{$step * $stepValue + 'rem'};
            }
        }
    }

    &y {
        @each $step in $steps {
            &-#{$step} {
                margin-top: #{$step * $stepValue + 'rem'};
                margin-bottom: #{$step * $stepValue + 'rem'};
            }
        }
    }

    &a {
        @each $step in $steps {
            &-#{$step} {
                margin: #{$step * $stepValue + 'rem'};
            }
        }
    }
}
